/* GRID LAYOUT */
.grid-main {
    display: grid;
}

.gl--right-nav {
    grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";
    grid-template-columns: auto 5px 200px;  

}

.gl--left-nav {
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer";
    grid-template-columns: 200px 5px auto;  
}

.gl--right-nav > .nav-box {
    justify-self: right;
    padding: 0 0 0 1em;
}

.gl--left-nav > .nav-box {
    justify-content: left;
    padding: 0 1em 0 0em;
}

.grid-header {
    grid-area:header;
    margin: 0 0 0.5em 0;
}

.grid-header > img {
    width:100%;
}

.hdr-image {
    position: relative;
    text-align: center;
    color: white;
}

.hdr-image > img {
    filter: brightness(50%);
}

.hdr-image h1 {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    font-size: 3vw;
    font-weight: 600;   
}

.grid-body {
    grid-area:main;
}

.grid-body p {
    margin: 0;
}

.text-wrap {
    float:left;
    margin: 0 0.5em 0 0;
    max-width:125px !important;
}

.grid-footer {
    grid-area:footer;
}

/* NAVIGATION */
.nav-box {
    list-style: none;
    margin: 0;
    grid-area: sidebar;
    margin: 0
}

.nav-selected a{
    background: #6d7e8d !important;
    opacity: 0.9;
}

.nav-selected a:hover{
    background: #fff !important;
    color:#6d7e8d;
    opacity: 0.9;
}

.nav-box li {
    margin: 0em 0 0.5em 0;
    max-width: 250px;
}

.nav-box li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 90%;
    padding: .4em;
    border-radius: 4px;
    border-style: solid 1px transparent;
    color: #EDE7F6;
    font-weight: bold;
    text-decoration: none !important;
}

.blue-box li a {
    background: #0064a4;
}

.blue-box li a:hover {
    background: #fff;
    border: solid 1px #0064a4;
    color: #0064a4;
}

.green-box li a{
    background: #009c6c;
}

.green-box li a:hover {
    background: #fff;
    border: solid 1px #009c6c;
    color: #009c6c;
}

/* HEADERS */
.hdr {
    border-radius: 0px 1em 1em 0px;
    padding: 0.25em;
    text-transform: uppercase;
}

.hdr-blue {
    border: solid 1px #0064a4;
    background: #0064a4;
    color: #fff;
}

.hdr-green {
    border: solid 1px #009c6c;
    background: #009c6c;
    color: #fff;
}

/* MESSAGE BOX */
.msg-box {
    display: grid;
    border: solid 1px #6d7e8d;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0px 0px 1px 0 rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    margin: 0.25em 0;
    padding: 1em 2.5em 1.5em;
}

.msg-info {
    grid-template-areas:
    "image . body";
    grid-template-columns: 50px 25px auto;
    width:auto;
}

.msg-video {
    grid-template-areas:
    "video . body";
    grid-template-columns: 200px 25px auto;

}

.msg-box .video{
    max-width: 200px;
    grid-area: video;
    justify-self: center;
    margin: auto;
}

.msg-box .icon{
    max-width: 50px;
    grid-area: image;
    justify-self: center;
    margin: auto;
}

.msg-box .drop-cap:first-letter {
    font-size:2em;
}

.msg-box p {
    grid-area: body;
}

.icon {
    justify-self: center;
}

.msg-box .body{
    max-width: auto;
    grid-area: body;
}

/* GRID ICON TABLES */
.grid-table {
    display: grid;
}

.grid-table-border {
    border: 1px solid #000;
    border-radius: 4px;
}

.grid-table-border > .grid-table-item {
    border: 0.5px solid #000
}

.grid-3 {
    grid-template-columns: auto auto auto;  
}

.grid-4 {
    grid-template-columns: auto auto auto auto;  
}

.grid-table-item {
    padding: 20px;
    text-align: center;
    align-self: center;
}

.grid-table-item img{
    width:100%;
    max-width:250px;
}

/* ALERTS */
.c-alert {
    padding: 1em 1em 1em 4em;

}

.c-alert p {
    color: #fff;
    font-weight: 600;
    margin: 0;
    width:100%;
}

.c-alert-blue {
    background: #0064a4;
    border-left: #1992c2;
    border-left-style: solid;
    border-left-width: 8px;
}

.c-alert-green {
    background: #009c6c;
    border-left: #1fcb98;
    border-left-style: solid;
    border-left-width: 9px;
}

.c-alert-gray {
    background: #6d7f8d;
    border-left: #93a6b7;
    border-left-style: solid;
    border-left-width: 9px;
}

.c-alert-blue-invert {
    background: #fff;
    border: 0.5px solid #000;
    border-left: #0064a4;
    border-left-style: solid;
    border-left-width: 8px;
}

.c-alert-green-invert {
    background: #fff;
    border: 0.5px solid #000;
    border-left: #009c6c;
    border-left-style: solid;
    border-left-width: 8px;
}

.c-alert-gray-invert {
    background: #fff;
    border: 0.5px solid #000;
    border-left: #6d7f8d;
    border-left-style: solid;
    border-left-width: 8px;
}

.c-alert-blue-invert p {
    color: #000;
}
.c-alert-green-invert p {
    color: #000;
}
.c-alert-gray-invert p {
    color: #000;
}

*/ MEDIA QUERIES */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .text-wrap {
        max-width: 100px;
    }
}
